<footer class="footer">
 <small>
   Created by Souparno Bhattacharya
</small>
<nav>
  <ul>

    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="https://news.railstutorial.org/">News</a></li>
  </ul>
 </nav>
</footer>